node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

#frontend
frontend/node_modules
frontend/.env

#IDE
.idea

#Pathfinder DB (used w/ docker)
pathfinder/

#python test file
test/testpy.py